.menu {
  background-color: var(--green-transparent);
  color: var(--green-dark);
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2em;
  flex-wrap: wrap;
  gap: 1em;
}

.menu li {
  flex-shrink: 0;
}
