.main {
  padding: 0 2em;
  max-width: 80%;
  margin: auto;
}

.description {
  border: solid 1px var(--gray-light);
  padding: 1em;
}

.status {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
